* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    border-bottom: 8px solid transparent;
    color: #a277ff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: transparent;
}
*/

button {
    all: unset;
    background-color: transparent;
    color: #a277ff;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
    font-family: JetBrainsMono Nerd Font, sans-sherif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    background: inherit;
    background-color: #f694ff;
    border-bottom: 3px solid #a277ff;
}

button.active {
    background: inherit;
    background-color: #61ffca;
    color: #a277ff;
    border-bottom: 3px solid #a277ff;
    border-radius: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
    font-family: JetBrainsMono Nerd Font, sans-sherif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

#mode {
    background-color: #29263c;
    border-bottom: 3px solid #29263c;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-swaync,
#custom-menu,
#mpd {
    padding: 0 10px;
    color: transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    background-color: transparent;
    color: #a277ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    background-color: transparent;
    color: #a277ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

#custom-swaync {
    background-color: transparent;
    color: #82e2ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 13px;
    padding-right: 9px;
}

#custom-menu {
    background-color: transparent;
    color: #82e2ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 14px;
    padding-right: 8px;
}

#custom-powermenu {
    background-color: transparent;
    color: #61ffca;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-right: 4px;
    padding-left: 14px;
    padding-right: 7px;
}


#battery {
    background-color: transparent;
    color: #61ffca;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #ff6767;
    color: #2b2b2b;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid #ff6767;
    border-radius: 5px;
    margin-bottom: 2px;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #82e2ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

#memory {
    background-color: transparent;
    color: #82e2ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

#disk {
    background-color: transparent;
}

#backlight {
    background-color: transparent;
    color: #82e2ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: transparent;
    color: #82e2ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

/*
#pulseaudio.muted {
    background-color: transparent;
    color: #edecce;
}
*/

#wireplumber {
    background-color: #fff0f5;
    color: #eb4d4b;
}

#wireplumber.muted {
    background-color: #eb4d4b;
}

#custom-media {
    background-color: transparent;
    color: #82e2ff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: transparent;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
    color: #a277ff;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: transparent;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: transparent;
    color: #82e2ff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: transparent;
    color: #82e2ff;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

tooltip {
  background-color: #29263c;
  border: none;
  border-bottom: 3px solid #212121;
  border-radius: 5px;
}

tooltip decoration {
  box-shadow: none;
}

tooltip decoration:backdrop {
  box-shadow: none;
}

tooltip label {
  color: #a277ff;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
}
